@{
    ViewBag.Title = "EditGrade";
	var id = ViewBag.id;
}

<h3>EditGrades</h3>

<div id="divInstructorEdit">
    <table border="1">
        <thead>
            <tr>
                <td align="center">StudentId</td>
                <td align="center">Grade</td>
            </tr>
        </thead>
		<tbody>
            <tr>
                <td align="center" class="studentId">1</td>
                <td align="center" class="grade"><input type="text" value="A" /></td>
            </tr>
			<tr>
                <td align="center" class="studentId">2</td>
                <td align="center" class="grade"><input type="text" value="B" /></td>
            </tr>
		    <tr>
                <td align="center" class="studentId">3</td>
                <td align="center" class="grade"><input type="text" value="A-" /></td>
            </tr>
			<tr>
                <td align="center" class="studentId">4</td>
                <td align="center" class="grade"><input type="text" value="A" /></td>
            </tr>
						<tr>
                <td align="center" class="studentId">5</td>
                <td align="center" class="grade"><input type="text" value="B+" /></td>
            </tr>
		</tbody>
	</table>
	<input type="button" value="Update" style="margin-left:80px" />
    <br /><br />
    <div id="divMessage"></div>
</div>