@{
    ViewBag.Title = "EditGrade";
	var id = ViewBag.id;
}

<h3>EditGrades</h3>

<div id="divInstructorEdit">
    <table border="1">
        <thead>
            <tr>
                <td align="center">CourseId</td>
                <td align="center">StudentId</td>
                <td align="center">Grade</td>
            </tr>
        </thead>
		<tbody>
            <tr>
                <td align="center" class="courseId">1</td>
                <td align="center" class="studentId">1</td>
                <td align="center" class="grade"><input type="text" value="A" /></td>
            </tr>
			<tr>
                <td align="center" class="courseId">1</td>
                <td align="center" class="studentId">2</td>
                <td align="center" class="grade"><input type="text" value="B" /></td>
            </tr>
		</tbody>
	</table>
</div>