@{
    ViewBag.Title = "EnrollStudent";
	var id = ViewBag.id;
}

<h3>EnrollStudent</h3>

<div id="divInstructorEdit">
    <table border="1">
        <thead>
            <tr>
                <td align="center">StudentId</td>
            </tr>
        </thead>
		<tbody>
            <tr>
                <td align="center" class="studentId">1</td>
            </tr>
		</tbody>
	</table>
	<input type="button" value="Enroll" style="margin-left:80px" />
    <br /><br />
    <div id="divMessage"></div>
</div>