@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Get Requests Page</h3>

<div id="divGetRequests">
	<table>
		<thread>
			<tr>
				<th>StudentId</th>
				<th>CourseId</th>
				<th>Request</th>
			</tr>
			<tr>
				<td>1</td>
				<td>1</td>
				<td>Could I get an A+?</td>
			</tr>
			<tr>
				<td>2</td>
				<td>2</td>
				<td>Could I pass the class?</td>
			</tr>
			<tr>
				<td>3</td>
				<td>3</td>
				<td>I think you gave me the wrong grade.</td>
			</tr>
		</thread>
		<tbody data-bind="foreach: viewModel">
			<tr>
				<td data-bind="text: StudentId"></td>
				<td data-bind="text: CourseId"></td>
				<td data-bind="text: Request"></td>
			</tr>
		</tbody>
	</table>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		    require(['ViewModels/InstructorViewModel'], function (instructorViewModel) {
            var instructorViewModelObj = new instructorViewModel();
            instructorViewModelObj.GetAll();
			});
	});
</script>