@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Get Requests Page</h3>

<div id="divGetRequests">
	<table>
		<thread>
			<tr>
				<th>StudentId</th>
				<th>CourseId</th>
				<th>Request</th>
			</tr>
		</thread>
		<tbody data-bind="foreach: viewModel">
			<tr>
				<td data-bind="text: StudentId"></td>
				<td data-bind="text: CourseId"></td>
				<td data-bind="text: Request"></td>
			</tr>
		</tbody>
	</table>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		    require(['ViewModels/StudentViewModel'], function (studentViewModel) {
            var studentViewModelObj = new studentViewModel();
            studentViewModelObj.GetAll();
			});
	});
</script>