@{
    ViewBag.Title = "Instructor";
}

<h2>Instructor</h2>

<p>What do you want to do professor?</p>
<ul>
    <li><a href="~/Instructor/CourseList">Course List</a></li>
	<li><a href="~/Instructor/GetRequests">Get Student Requests</a></li>
	<li><a href="~/Instructor/EnrollStuent">Enroll students into a course</a></li>
	<li><a href="~/Instructor/DropStudents">Drop Enrolled Students</a></li>
</ul>
