@{
    ViewBag.Title = "Instructor";
}

@Html.Partial("SharedAnnouncement")

<h2>Instructor</h2>

<p>What do you want to do professor?</p>
<ul>
    <li><a href="~/Instructor/CourseList">Course List</a></li>
	<li><a href="~/Instructor/GetRequests">View Student Requests</a></li>
</ul>
