@{
    var id = ViewBag.Id;
}
<h3>Current Enrollment</h3>

@id
136 TODO: for a given student, show all his course schedule enrollment. Allow add & delete of enrollments
(The reason this is under the /Shared folder is that both staff and student should be able to update enrollments)
