@{
    ViewBag.Title = "AddRequest";
    var id = ViewBag.Id;
}

<h2>Request Grade Change</h2>

<div id="professorInfo">
    <table border="1">
        <tr>
            <td align="center">Professor:</td>
            <td align="center">Issac Chu</td>
        </tr>
        <tr>
            <td align="center">Course:</td>
            <td align="center">CSE 136</td>
        </tr>
        <tr>
            <td align="center">Title:</td>
            <td align="center">Enterprise-level Web Application</td>
        </tr>
        <tr>
            <td align="center">Year:</td>
            <td align="center">2014</td>
        </tr>
        <tr>
            <td align="center">Quarter:</td>
            <td align="center">Summer II</td>
        </tr>
        <tr>
            <td align="center">Session:</td>
            <td align="center">A01</td>
        </tr>
        <tr>
            <td align="center">Grade Received:</td>
            <td align="center" style="font-weight: bold;">B+</td>
        </tr>
    </table>

    <br />
    <br />

    <div id="requestForm">
        Student ID: <input type="text" data-bind="value: $data.id" />
        <br /><br />
        Schedule ID: <input type="text" data-bind="value: $data.scheduleId" />
        <br /><br />
        <em>Your Reason for the Request:</em> <br />
        <textarea id="textareaBox" rows="6" cols="50" data-bind="value: $data.text"></textarea>
        <br /> <br />
        <input type="button" data-bind="value:'Submit', click: $data.submit" style="margin-left: 80px"/>
        <br /><br />
        <div id="divRequestMessage"></div>
    </div>
</div>
