@{
    ViewBag.Title = "EnrollCourse";
}

<h2>Look up Courses to Enroll</h2>
<h3>Courses Schedule:</h3>

<div id="divScheduleListContent">
    <table border="1">
        <thead>
            <tr>
                <th align="center">Title</th>
                <th align="center">Description</th>
                <th align="center">Quarter</th>
                <th align="center">Year</th>
                <th align="center">Session</th>
                <th align="center">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td align="center" data-bind="text: course_title"></td>
                <td align="center" data-bind="text: course_description"></td>
                <td align="center" data-bind="text: quarter"></td>
                <td align="center" data-bind="text: year"></td>
                <td align="center" data-bind="text: session"></td>
                <td align="center">
                    <div data-bind="template: {name: 'action-template', data: $data}"></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        require(['ViewModels/StudentViewModel'], function (studentViewModel) {
            var studentViewModelObj = new studentViewModel();
            studentViewModelObj.FilterGetSchedule("All Years", "All Quarters");
        });
    });
</script>

<script type="text/html" id="action-template">
    <a data-bind="EnrollSchedule: $data">Enroll</a>
</script>
