@{
    ViewBag.Title = "ViewGrade";
    var id = ViewBag.Id;
}

<h2>Your Grade</h2>

<div id="professorInfo">
    <table border="1">
        <tr>
            <td align="center">Professor:</td>
            <td align="center">Issac Chu</td>
        </tr>
        <tr>
            <td align="center">Course:</td>
            <td align="center">CSE 136</td>
        </tr>
        <tr>
            <td align="center">Title:</td>
            <td align="center">Enterprise-level Web Application</td>
        </tr>
        <tr>
            <td align="center">Year:</td>
            <td align="center">2014</td>
        </tr>
        <tr>
            <td align="center">Quarter:</td>
            <td align="center">Summer II</td>
        </tr>
        <tr>
            <td align="center">Session:</td>
            <td align="center">A01</td>
        </tr>
        <tr>
            <td align="center">Grade Received:</td>
            <td align="center" style="font-weight: bold;">B+</td>
        </tr>
    </table>
</div>
