@{
    ViewBag.Title = "Index";
    var id = ViewBag.Id;
}

<h1>Currently Enrolled Classes</h1>
<div id="divStudentSchedule">
    <table border="1">
        <thead>
            <tr>
                <td align="center">Title</td>
                <td align="center">Description</td>
                <td align="center">Year</td>
                <td align="center">Quarter</td>
                <td align="center">Session</td>
                <td align="center">Action</td>
            </tr>
        </thead>
        <tbody data-bind="foreach: viewModel">
            <!--<tr>
                <td data-bind="text: courseId"></td>
                <td data-bind="text: coureTitle"></td>
                <td data-bind="text: courseDescription"></td>
                <td data-bind="text: Year"></td>
                <td data-bind="text: Quarter"></td>
                <td data-bind="text: Session"></td>
                <td>
                    <div data-bind="template: { name: 'action_template', data: $data}"></div>
                </td>
            </tr> -->

            <!-- Fake Enrolled Course Data -->
            <tr>
                <td align="center" id="courseTitle">Enterprise-level Web Application</td>
                <td align="center" id="courseDescription">Yeeeeeee</td>
                <td align="center" id="year">2014</td>
                <td align="center" id="quarter">Summer II</td>
                <td align="center" id="session">A01</td>
                <td align="center">
                    <a href="#">Drop</a>
                    <a href="/Student/ViewGrade">View Grade</a>
                    <a href="/Student/AddRequest">Request Grade Change</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="/Student/EnrollCourse">Enroll Into a Course</a>
    <!--<a data-bind="attr: { href: '/Student/EnrollCourse', title: 'enroll' }">Enroll Into a Course</a>-->
</div>

<h2>Student Detail</h2>

<a href="/Student/Edit?id=@id">edit</a>
<div id="divStudentContent">
    <table>
        <tr>
            <td>Id</td>
            <td data-bind="text: viewModel.id"></td>
        </tr>
        <tr>
            <td>SSN</td>
            <td data-bind="text: viewModel.ssn"></td>
        </tr>
        <tr>
            <td>First</td>
            <td data-bind="text: viewModel.first"></td>
        </tr>
        <tr>
            <td>Last</td>
            <td data-bind="text: viewModel.last"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td data-bind="text: viewModel.email"></td>
        </tr>
        <tr>
            <td>Shoe Size</td>
            <td data-bind="text: viewModel.shoesize"></td>
        </tr>
        <tr>
            <td>Weight</td>
            <td data-bind="text: viewModel.weight"></td>
        </tr>
    </table>
</div>

@Html.Partial("SharedStudentEnrollment")

<!-- script type="text/html" id="action-template">
    <a data-bind="attr: { href : '/Student/?id' + id, title: 'drop' }">Drop</a>
    <a data-bind="attr: { href : '/Student/?id' + id, title: 'view_grade' }">View Grade</a>
    <a data-bind="attr: { href : '/Student/?id' + id, title: 'request_grade' }">Request Grade Change</a>
</!--script> -->

<!-- script type="text/javascript">
    $(document).ready(function () {
        require(['ViewModels/StudentViewModel'], function (studentViewModel) {
            var studentviewModelObj = new studentViewModel();
            studentViewModelObj.GetEnrolledCourses("@id");
        });
    });
</!--script> -->

<script type="text/javascript">
    $(document).ready(function () {
        require(['ViewModels/StudentViewModel'], function (studentViewModel) {
            var studentViewModelObj = new studentViewModel();
            studentViewModelObj.GetDetail("@id");
        });
    });
</script>
