@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Current Schedule Page</h3>

<div id="divAnnouncementContent">
    <table>
        <thead>
            <tr>
                <th>Announcement</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: viewModel">
            <tr>
                <td data-bind="text: text"></td>
                <td data-bind="text: date"></td>
                <td>
                    <div data-bind="template: { name: 'action-template', data: $data}"></div>
                </td>
            </tr>
        </tbody>
    </table>
    <a data-bind="attr: { href : '/Admin/AddAnnouncement', title: 'create' }">New Announcement</a>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        require(['ViewModels/AdminViewModel'], function (adminViewModel) {
            var adminViewModelObj = new adminViewModel();
            adminViewModelObj.LoadAnnouncements();
        });
    });
</script>

<script type="text/html" id="action-template">
    <a data-bind="attr: { href : '/Admin/EditAnnouncement?id=' + id, title: 'edit' }">edit</a>
    <input type="button" data-bind="value: 'Delete', click: $data.delete" />
</script>
