@{
    ViewBag.Title = "Admin";
}
<h2>Welcome admin</h2>

<ul>
    <li><a href="~/Admin/Edit?id=@ViewBag.id">Edit my info</a></li>
    <li><a href="~/Admin/CurrentSchedule">View Current Schedule</a></li>
    <li><a href="~/Admin/Announcements">Announcements</a></li>
</ul>
